<!doctype html>
<html ng-app="Expresso" lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>BeSafeMap</title>
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<link rel="stylesheet" href="css/style.mobile.css" />
<link rel="stylesheet" href="css/style.css">

</head>

<body ng-controller="ExpressoCtrl">
	<div class="wrapper" data-role="page">
		<!-- panel 01 -->
		<div class="panel left " data-role="panel" data-position="left" data-display="push" id="panel-01">
			<div class="logo-panel">
				<img src="img/logo.png"/>
			</div>
		</div>
		<div class="header" data-role="header">
			<span class="open left"><a href="#panel-01">&#61641;</a></span>
			<span class="title">BeSafeMap</span>
			<span class="open right"><a href="#panel-02">&#9776;</a></span>
		</div>
		<div class="content" data-role="content">
			<div id="mapcon" style="width: 100%; height: 570px;"></div>
			
		</div>
		<!-- panel 02 -->
		<div class="panel right" data-role="panel" data-position="right" data-display="overlay" id="panel-02">
			<input type="text" ng-model="txtName" name="txtName" placeholder="Name"/>
			<input type="text" ng-model="txtLat" name="txtLat"/>
			<input type="text" ng-model="txtLon" name="txtLon"/>
            <input type="text" ng-model="txtMsg" name="txtMsg" placeholder="Message"/>
            <button ng-click="doHelp()">HELP</button>
		</div>
	</div>
<script src="javascript/angular.min.js"></script>
<script src="javascript/angular-resource.min.js"></script>
<script src="javascript/angularjs-geolocation.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?AIzaSyAvgfQ5HaevjxN7rUsvE7mv8UghdmkQpT4&sensor=false"></script>
<script src="javascript/jquery.js"></script>
<script src="javascript/jquery.mobile.js"></script>
<script src="javascript/index.js"></script>	

</body>
</html>
